
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url(./font/SuisseIntl-Regular.ttf);
}

@font-face {
    font-family: 'Apple-Garamond';
    src: url(./font/AppleGaramond.ttf);
}

@font-face {
    font-family: 'Fungal-Grow';
    src: url(./font/Fungal-Grow500Thickness500.ttf);
}

/* variables */
:root {
    --bg-color: #ffffff;
    --font-color: #222222;
}

/* core css stuff */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Arial ', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

a {
    color: black;
    text-decoration: none;
}

/* container */

.container {
    max-width: 30%;
    min-height: auto;

    /* padding around content */
    padding: 20px;

    /* top-bottom margin 30px */
    /* left-right margin auto */
    /* margin around content */
    margin: 30px auto; 

    border: 1px solid;
    border-radius: 0px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 10px;

    margin-top: 0;
    margin-bottom: 0;

}

.contact {
    font-family: 'SuisseIntl-Regular';
    font-size: 16px;
    
    width: 100%;

}

.contact-item {
    margin: 3px 0;
}

.redacted {
    user-select: none;;
    filter: blur(6px)
}

.mail {
    /* inline : padding & margin only left-right, no top-bottom , no content wrapping */
    /* inline-block : padding & margin left-right, top-bottom , no content wrapping*/
    display: inline-block; 
    
    /* padding top-bottom, left-right of content */
    padding: 2px 8px;

    /* margin top-bottom, left-right around content */
    margin: 0px 3px;

    border: 1px solid;
    border-radius: 20px;

    font-family: 'Apple-Garamond';
    font-size: 16px;


}


.content {

    padding: 0px 0px;
}

/* border for dropdown menu */
.dropdown-container { 

    display: inline-block;

    text-align: left;
    
    /* padding top, right, bottom, left of content */
    padding: 1px 90px 2px 16px;

    /* margin top-bottom, left-right around content */
    margin: 2px 0px;

    border: 1px solid;
    border-radius: 0px;
    
    width: 0px;
    height: auto;


}

/* objects inside dropdown menu */
.dropdown-items {


    font-family: 'SuisseIntl-Regular';
    font-size: 16px;

}

.svg {
    display: inline;
    content: url(./img/icon-select-dropdown.svg);
}

/*footer stuff*/
footer {
    min-height: 50px;
}

