
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url(./font/SuisseIntl-Regular.ttf);
}

@font-face {
    font-family: 'Apple-Garamond';
    src: url(./font/AppleGaramond.ttf);
}

@font-face {
    font-family: 'Fungal-Grow';
    src: url(./font/Fungal-Grow500Thickness500.ttf);
}

/* variables */
:root {
    --bg-color: #ffffff;
    --font-color: #222222;
}

/* core css stuff */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Arial ', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* container */

.container {
    max-width: 45%;
    min-height: auto;

    /* padding around content */
    padding: 25px;

    /* top-bottom margin 30px */
    /* left-right margin auto */
    /* margin around content */
    margin: 30px auto; 

    border: 1px solid;
    border-radius: 0px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 10px;

    margin-top: 0;
    margin-bottom: 0;

}

.contact {
    font-family: 'SuisseIntl-Regular';
    font-size: 16px;

}

.contact-item {
    margin: 3px 0;
}

.redacted {
    user-select: none;;
    filter: blur(6px)
}

.mail {
    /* inline : padding & margin only left-right, no top-bottom , no content wrapping */
    /* inline-block : padding & margin left-right, top-bottom , no content wrapping*/
    display: inline-block; 
    
    /* padding top-bottom, left-right of content */
    padding: 2px 8px;

    /* margin around content */
    margin: 0px 3px;

    border: 1px solid;
    border-radius: 20px;

    font-family: 'Apple-Garamond';
    font-size: 16px;


}

.dropdown-menu {
    display: flex;
    flex-wrap: wrap;



}

.content {
    padding-left: 6px;
}

/*footer stuff*/
footer {
    min-height: 50px;
}

